.grid-tooltip {
  position: absolute;
  width: 270px;
  height: 100px;
  border: 1px solid lightgray;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 1s;
  background-color: #2d3436;
}

.grid-tooltip.ag-tooltip-hiding {
  opacity: 0;
}

.grid-tooltip p {
  margin: 5px;
  white-space: nowrap;
}

.tooltip-info {
  display: flex;
  justify-content: left;
  white-space: nowrap;
}

.tooltip-info p:nth-child(1){
  font-weight: bold;
}

.tooltip-message p:nth-child(1) {
  font-weight: bold;
  text-decoration: underline;
}
