body {
	margin: 0;
	padding: 0;
	background-color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
  min-width: 600px;
}

/* Header */

header {
	display: block;
	background-color: #2d3436;
	box-shadow: 0px 2px 3px black;
	width: 100%;
	height: 90px;
}

header div {
	display: flex;
}

/* Logo */

#logo {
	height: 70px;
	background-color: cadetblue;
	margin-right: 5px;
	width: 90px;
	opacity: 0.2;
	margin: 10px;
}

/* Page title */

#page-title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: fit-content;
	padding: 0px 5px 0px 20px;
	border-left: 5px solid #d3d3d3;
	color: #d3d3d3;
	margin: 10px 10px 10px 0px;
	user-select: none;
	white-space: nowrap;
}


/* Reset */

#reset {
	display: none;
	padding: 2px;
	margin: 1vw 1vw 0vw 1vw;
}

#reset :nth-child(1) {
	display: inline-block;
	padding: 0px 10px 3px 10px;
	border: 1px solid black;
	cursor: pointer;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
	box-shadow: 0px 1px 3px #2d3436;
}

#reset > :nth-child(1):hover {
	background-color: cadetblue;

}

/* Ag-Grid */

#reset :nth-child(2) {
	display: inline-block;
	margin-left: 5px;
	padding: 0px 10px 3px 5px;
	border-left: 2px solid black;
}

#grid-container {
	display: flex;
	background-color: #2d3436;
	border: 1px solid black;
	justify-content: center;
	margin: 0.2vw 1vw 1vw 1vw;
}

#data-grid {
	height: 250px;
	width: 500px;
}
