body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  font-family: "Fira Code";
}

.title-container {
  display: flex;
  justify-content: center;
  margin: 1vw;
}

#notify {
  background-color: lightcoral;
  border: 1px solid darkred;
  height: 80px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  user-select: none;
}

#notify > :nth-child(2) {
  display: block;
  width: 98%;
  text-align: right;
  user-select: none;
}

#notify-close {
  font-weight: bold;
  cursor: pointer;
}

#grid-container {
  display: flex;
  background-color: #2d3436;
  border: 1px solid black;
  justify-content: center;
  margin: 1vw;
}

#data-grid {
  height: 250px;
  width: 500px;
}


