#notify {
	background-color: lightcoral;
  box-shadow: 0px 2px 3px darkred;
	height: 80px;
	text-align: center;
	padding-top: 15px;
	user-select: none;
	margin: 25px 400px;
}

#notify > :nth-child(2) {
	display: block;
	padding-right: 15px;
	text-align: right;
	user-select: none;
}

#notify > p {
	margin-top: 18px;
}

#notify-close {
	font-weight: bold;
	cursor: pointer;
}
