#notify {
  background-color: lightcoral;
  border: 1px solid darkred;
  height: 80px;
  text-align: center;
  padding-top: 15px;
  user-select: none;
}

#notify > :nth-child(2) {
  display: block;
  padding-right: 15px;
  text-align: right;
  user-select: none;
}

#notify-close {
  font-weight: bold;
  cursor: pointer;
}
